<div class="space-y-6">
    <div class="flex justify-between px-2">
        <h1 class="text-2xl font-semibold text-gray-800">Manage Modules</h1>
        <div>
            <button (click)="openAddModal()" class="px-5 py-2 bg-blue-600 text-white rounded-md hover:bg-blue-700">
                Add Module
            </button>
        </div>
    </div>

    <!-- Modules list -->
    <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
        @for (module of modules; track module.id) {
        <div class="bg-white p-4 rounded-xl shadow border border-gray-200">
            <h2 class="text-lg font-bold text-gray-800">{{ module.name }}</h2>
            <p class="text-sm text-gray-600 mt-1">{{ module.module_name }}</p>
        </div>
        }
    </div>


    <!-- Add Modal -->
    <app-modal [show]="isAddModalOpen" (closed)="closeAddModal()" title="Add New Module">
        <div modal-content>
            <input type="text" placeholder="Module Name" class="w-full mb-4 border rounded px-3 py-2">
            <textarea placeholder="Description" class="w-full mb-4 border rounded px-3 py-2"></textarea>
        </div>

        <div modal-actions class="flex justify-end gap-2">
            <button (click)="closeAddModal()" class="px-4 py-2 bg-gray-200 rounded hover:bg-gray-300">Cancel</button>
            <button class="px-4 py-2 bg-blue-600 text-white rounded hover:bg-blue-700">Save</button>
        </div>
    </app-modal>
</div>