<div class="rounded-lg px-4 py-3 flex items-center justify-between shadow-lg my-1 hover:opacity-90" [class]="bgClass">
    <p class="text-sm pr-4">{{ message() }}</p>

    <div class="relative w-6 h-6 flex-shrink-0 self-center">
        @if (duration() > 0) {
        <app-duration-circle-icon [progress]="progress" />
        }
        <button (click)="close()"
            class="absolute inset-0 flex items-center justify-center text-white hover:text-gray-400 hover:cursor-pointer hover:scale-125">
            <ng-icon name="ionClose" size="16" />
        </button>
    </div>
</div>